* {
  box-sizing: border-box;
  color: rgb(195, 47, 47);
}
body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

button{
  background-color: #070630;
}

.switch:hover{
  background-color: #0c0a59;
cursor: pointer;
}

.switch:active{
  background-color: #06034a;
}

.reste:hover{
  background-color: #0c0a59;
  cursor: pointer;
}

.reste:active{
  background-color: #06034a;
}



.box{
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#restart{
  margin-top: 3px;
  align-self: center;
}
.results{
  align-self: stretch;
  /*border: red 1px solid;*/
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 120px;
}

.names{
  align-self: stretch;
  /*border: red 1px solid;*/
  display: flex;
  justify-content: space-evenly;
  margin: auto;

}
.result-player{
  padding-right: 65px;
  padding-left: 6px;
  color: aliceblue;
}
.name-player{
  padding-right: 30px;
  color: aliceblue;
}
.start-text{
  padding-bottom: 10px;
}


